{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Habitación{% endblock %}

{% block content %}
<div class="container mx-auto my-8 p-4 bg-white rounded shadow">
    <h1 class="text-2xl font-semibold mb-4 text-center">Editar Habitación {{ habitacion.numero }}</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="flex justify-between mt-4">
            <button type="submit" class="btn btn-blue">Guardar Cambios</button>
            <a href="{% url 'listar_habitaciones' %}" class="btn btn-gray">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
