{% extends 'base.html' %}

{% block title %}Listar Habitaciones{% endblock %}

{% block content %}
    <h1>Listar Habitaciones</h1>
    <table class="min-w-full bg-white rounded shadow-md overflow-hidden">
        <thead>
            <tr class="bg-gray-800 text-white">
                <th class="py-2 px-4">Número</th>
                <th class="py-2 px-4">Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for habitacion in habitaciones %}
                <tr>
                    <td class="py-2 px-4">{{ habitacion.numero }}</td>
                    <td class="py-2 px-4">{{ habitacion.tipo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
