{% extends 'base.html' %}
{% load static %}

{% block title %}Listar Reservas{% endblock %}

{% block content %}
<div class="container mx-auto my-8 p-4 bg-white rounded shadow">
    <h1 class="text-3xl font-semibold mb-4 text-center">Listado de Reservas</h1>
    <div class="table-container">
        <table class="general-table min-w-full bg-white rounded shadow-md overflow-hidden">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="py-2 px-4">Encargado</th>
                    <th class="py-2 px-4">Habitación</th>
                    <th class="py-2 px-4">Nombre</th>
                    <th class="py-2 px-4">Apellido</th>
                    <th class="py-2 px-4">Personas</th>
                    <th class="py-2 px-4">Fecha Ingreso</th>
                    <th class="py-2 px-4">Fecha Egreso</th>
                    <th class="py-2 px-4">Noches</th>
                    <th class="py-2 px-4">Precio por Noche</th>
                    <th class="py-2 px-4">Monto Total</th>
                    <th class="py-2 px-4">Seña</th>
                    <th class="py-2 px-4">Resto</th>
                    <th class="py-2 px-4">Observaciones</th>
                    <th class="py-2 px-4">Origen</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td class="py-2 px-4">{{ reserva.encargado }}</td>
                    <td class="py-2 px-4">{{ reserva.nhabitacion.numero }}</td>
                    <td class="py-2 px-4">{{ reserva.nombre }}</td>
                    <td class="py-2 px-4">{{ reserva.apellido }}</td>
                    <td class="py-2 px-4">{{ reserva.personas }}</td>
                    <td class="py-2 px-4">{{ reserva.fecha_ingreso }}</td>
                    <td class="py-2 px-4">{{ reserva.fecha_egreso }}</td>
                    <td class="py-2 px-4">{{ reserva.noches }}</td>
                    <td class="py-2 px-4">{{ reserva.precio_por_noche }}</td>
                    <td class="py-2 px-4">{{ reserva.monto_total }}</td>
                    <td class="py-2 px-4">{{ reserva.senia }}</td>
                    <td class="py-2 px-4">{{ reserva.resto }}</td>
                    <td class="py-2 px-4">{{ reserva.observaciones }}</td>
                    <td class="py-2 px-4">{{ reserva.origen }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
