{% extends 'base.html' %}
{% load static %}

{% block title %}Planning de Reservas{% endblock %}

{% block content %}
    <h1 class="text-2xl font-semibold mb-4">Planning de Reservas</h1>
    <div class="mb-4 p-2 bg-gray-200 rounded" id="date-container" data-date="{{ first_day }}">
        Fecha de inicio: {{ first_day }}
    </div>
    <div class="table-container">
        <table class="planning-table">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="py-2 px-4" style="width: 100px;">Número de Habitación</th>
                    <th class="py-2 px-4" style="width: 100px;">Tipo</th>
                    {% for day in days %}
                    <th class="py-2 px-4">{{ day|date:"d/M" }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in planing %}
                    <tr class="habitacion-{{ item.habitacion.tipo }}">
                        <td>{{ item.habitacion.numero }}</td>
                        <td>{{ item.habitacion.tipo }}</td>
                        {% for ocupacion in item.ocupaciones %}
                            {% if ocupacion %}
                                <td class="{% if ocupacion.is_last_night %}last-night-cell{% else %}occupied-cell{% endif %}">
                                    {% if ocupacion.nombre %}
                                        <span class="nombre-huesped">{{ ocupacion.nombre }}</span>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
