<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="wrapper">
        <div class="sidebar">
            <img src="{% static 'images/logo.png' %}" alt="Logo del Hotel">
            <nav>
                <a href="{% url 'home' %}" class="block py-2.5 px-4 rounded hover:bg-gray-700">Home</a>
                <a href="{% url 'generar_planing' %}" class="block py-2.5 px-4 rounded hover:bg-gray-700">Planing</a>
                <a href="{% url 'cargar_reserva' %}" class="block py-2.5 px-4 rounded hover:bg-gray-700">Cargar Reserva</a>
                <a href="{% url 'listar_reservas' %}" class="block py-2.5 px-4 rounded hover:bg-gray-700">Listar Reservas</a>
                <a href="{% url 'cargar_habitacion' %}" class="block py-2.5 px-4 rounded hover:bg-gray-700">Cargar Habitación</a>
                <a href="{% url 'listar_habitaciones' %}" class="block py-2.5 px-4 rounded hover:bg-gray-700">Listar Habitaciones</a>
            </nav>
        </div>
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
