{% extends 'base.html' %}
{% load static %}

{% block title %}Listar Reservas{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Listar Reservas</h2>
    </div>
    <div class="table-container">
        <div class="table-responsive">
            <table data-columns="many">
                <thead>
                    <tr>
                        <th>Encargado</th>
                        <th>Habitación</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Personas</th>
                        <th>Fecha Ingreso</th>
                        <th>Fecha Egreso</th>
                        <th>Noches</th>
                        <th>Precio por Noche</th>
                        <th>Monto Total</th>
                        <th>Seña</th>
                        <th>Resto</th>
                        <th>Cantidad Habitaciones</th>
                        <th>Teléfono</th>
                        <th>Celíacos</th>
                        <th>Observaciones</th>
                        <th>Origen</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva.encargado }}</td>
                        <td>{{ reserva.nhabitacion.numero }}</td>
                        <td>{{ reserva.nombre }}</td>
                        <td>{{ reserva.apellido }}</td>
                        <td>{{ reserva.personas }}</td>
                        <td>{{ reserva.fecha_ingreso }}</td>
                        <td>{{ reserva.fecha_egreso }}</td>
                        <td>{{ reserva.noches }}</td>
                        <td>{{ reserva.precio_por_noche_formatted }}</td>
                        <td>{{ reserva.monto_total_formatted }}</td>
                        <td>{{ reserva.senia_formatted }}</td>
                        <td>{{ reserva.resto_formatted }}</td>
                        <td>{{ reserva.cantidad_habitaciones }}</td>
                        <td>{{ reserva.telefono }}</td>
                        <td>{{ reserva.celiacos|yesno:"Sí,No" }}</td>
                        <td>{{ reserva.observaciones }}</td>
                        <td>{{ reserva.origen }}</td>
                        <td>
                            <a href="{% url 'editar_reserva' reserva.id %}" class="btn-primary">Editar</a>
                        </td>
                        <td>
                            <button onclick="confirmDelete('{{ reserva.id }}')" class="btn-secondary">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Pop-up de confirmación -->
<div id="confirm-popup" class="popup">
    <label class="close" onclick="closePopup()">&times;</label>
    <h2>Confirmar Eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar esta reserva?</p>
    <form id="delete-form" method="post" action="">
        {% csrf_token %}
        <div class="flex gap-4 justify-end mt-4">
            <button type="submit" class="btn-secondary">Eliminar</button>
            <button type="button" class="btn-primary" onclick="closePopup()">Cancelar</button>
        </div>
    </form>
</div>
<label for="confirm-popup" class="popup-background" id="popup-background"></label>

{% endblock %}

{% block extra_js %}
<script>
    function confirmDelete(reservaId) {
        document.getElementById('delete-form').action = `/eliminar_reserva/${reservaId}/`;
        document.getElementById('confirm-popup').style.display = 'block';
        document.getElementById('popup-background').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('confirm-popup').style.display = 'none';
        document.getElementById('popup-background').style.display = 'none';
    }
</script>
{% endblock %}
