{% extends 'base.html' %}
{% load static %}

{% block title %}Listar Habitaciones{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Listar Habitaciones</h2>
    </div>
    <div class="table-container">
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Tipo</th>
                        <th>Piso</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for habitacion in habitaciones %}
                    <tr>
                        <td>{{ habitacion.numero }}</td>
                        <td>{{ habitacion.tipo }}</td>
                        <td>{{ habitacion.piso }}</td>
                        <td>
                            <a href="{% url 'editar_habitacion' habitacion.id %}" class="btn-primary">Editar</a>
                        </td>
                        <td>
                            <button onclick="confirmDelete('{{ habitacion.id }}')" class="btn-secondary">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Pop-up de confirmación -->
<div id="confirm-popup" class="popup">
    <label class="close" onclick="closePopup()">&times;</label>
    <h2>Confirmar Eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar esta habitación?</p>
    <form id="delete-form" method="post" action="">
        {% csrf_token %}
        <div class="flex gap-4 justify-end mt-4">
            <button type="submit" class="btn-secondary">Eliminar</button>
            <button type="button" class="btn-primary" onclick="closePopup()">Cancelar</button>
        </div>
    </form>
</div>
<label for="confirm-popup" class="popup-background" id="popup-background"></label>

{% endblock %}

{% block extra_js %}
<script>
    function confirmDelete(habitacionId) {
        document.getElementById('delete-form').action = `/eliminar_habitacion/${habitacionId}/`;
        document.getElementById('confirm-popup').style.display = 'block';
        document.getElementById('popup-background').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('confirm-popup').style.display = 'none';
        document.getElementById('popup-background').style.display = 'none';
    }
</script>
{% endblock %}
