body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.sidebar {
    width: 240px;
    background-color: #2c3e50;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    transition: all 0.3s ease;
}

.sidebar-hidden {
    transform: translateX(-240px);
}

.sidebar img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

.sidebar a {
    display: block;
    color: #ecf0f1;
    padding: 15px 20px;
    margin: 10px 0;
    text-decoration: none;
    background-color: #34495e;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #1abc9c;
    color: #fff;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 240px;
    background-color: #ecf0f1;
    transition: margin-left 0.3s ease;
    overflow: hidden;
}

.sidebar-hidden + .main-content {
    margin-left: 0;
}

.container {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    align-self: flex-start;
}

input[type="text"], input[type="number"], select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
}

textarea {
    resize: none;
    height: 40px;
    overflow: hidden;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#selected-date {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#selected-date:focus {
    direction: ltr;
    text-align: left;
}

.table-container {
    overflow: auto;
    max-height: 80vh;
    margin-bottom: 20px;
}

.general-table {
    border-collapse: collapse;
    width: 100%;
    min-width: 800px;
}

.general-table th, .general-table td {
    border: 1px solid #8f8f8f;
    padding: 8px;
    white-space: nowrap;
    color: black;
}

.general-table th {
    background-color: #0d1646;
    text-align: center;
    color: white;
}

.grid > div {
    padding: 20px;
}

.planning-table {
    border-collapse: collapse;
    width: 100%;
    min-width: 1200px;
}

.planning-table th, .planning-table td {
    border: 1px solid #8f8f8f;
    padding: 8px;
    white-space: nowrap;
    color: black;
}

.planning-table th {
    background-color: #0d1646;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
}

.planning-table td:first-child, .planning-table th:first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    background: white;
    color: black;
}

.planning-table td:nth-child(2), .planning-table th:nth-child(2) {
    position: sticky;
    left: 178px;
    z-index: 3;
    background: white;
    color: black;
}

.habitacion-doble {
    background-color: #f2d1d1;
}

.habitacion-triple {
    background-color: #d1e0f2;
}

.habitacion-cuadruple {
    background-color: #d1f2d4;
}

.habitacion-quintuple {
    background-color: #f2efd1;
}

.occupied-cell {
    background-color: #a3d9a5;
    color: black;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.last-night-cell {
    background-color: #ff6b6b;
    color: black;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.nombre-huesped {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#toggle-sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggle-sidebar:hover {
    background-color: #0056b3;
}
