body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 80vh;
    margin: 50px auto;
    overflow: auto;
    border: 1px solid #ddd;
    position: relative;
}

.planning-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #8f8f8f;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead th {
    position: sticky;
    top: 0;
    background: #0d1646;
    color: white;
    z-index: 2;
}

thead th:first-child,
tbody td:first-child {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 3;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
    position: sticky;
    left: 100px; /* Ajustar según el ancho real de la primera columna */
    background: #fff;
    z-index: 3;
}
